# Binaries
perfmon
perfmon.exe
perfmon-test
*.test
*.prof

# Asset generation
assets/screenshot.png

# User config (optional, if you want to keep your personal config private)
perfmon.toml

# OS specific
.DS_Store
Thumbs.db
